html body {
    font-family: 'Bree Serif', serif;
    background-color: #181a3d;
}

/*---------------------Navbar Section---------------------------------------*/
#navbar-color {
    background-color: #1e203f!important;
    border: solid #6fc4a2;
}

.nav-link {
    display: block;
    padding: .25rem 1.5rem!important;
    white-space: nowrap;
}

.nav-link-color {
    color: white!important;
}

.nav-link-color:hover {
    color: #6fc4a2!important;
}

.navbar-light .navbar-toggler {
    color: #f8f9fa;
    border-color: rgb(111 196 162);
    background-color: rgb(111 196 162);
}

.nav-img {
    border: groove #6fc4a2;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 #39fd9bc9, 0 6px 20px 0 rgb(0 0 0 / 19%);
}

.sign-btn {
    border: groove #6fc4a2;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 #39fd9bc9, 0 6px 20px 0 rgb(0 0 0 / 19%);
    background-color: #1e203f;
    color: white;
    margin-bottom: 10px;
    margin-top: 10px;
}

.sign-btn:hover {
    color: #6fc4a2;
}

p.nav-link-color {
    margin-top: 0px;
    margin-bottom: 3px;
    padding-bottom: 2px;
}

/*---------------------Navbar Dropdown Menu-----------------------------------*/
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #1e203f!important;
    background-clip: padding-box;
    border: 1px groove #6fc4a2!important;
    border-radius: .25rem;
}

.dropdown-item:focus, .dropdown-item:hover {
    color: #6fc4a2!important;
    text-decoration: none;
    background-color: #1e203f!important;
}



#bf-logo {
    background-color: #181a3d;
    text-align: center!important;
    box-shadow: 0 4px 8px 0 #39fd9bc9, 0 6px 20px 0 rgb(0 0 0 / 19%);
    height: 250px;
    width: 250px;
    padding: 40px;
}

.bf-brand {
    border: groove #6fc4a2;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 #39fd9bc9, 0 6px 20px 0 rgb(0 0 0 / 19%);
}

/*-----------------------------------Modal Section------------------------------*/
.modal-header {
    background-color: #181a3d;
    color: #6fc4a2;
    box-shadow: 0 6px 20px 0 #39fd9bc9, 0 6px 20px 0 rgb(0 0 0 / 19%)!important;
}

.modal-title {
    text-align: center!important;
}

.close {
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: white!important;
    text-shadow: 0 1px 0 #fff;
    opacity: 10!important;
}

.close:hover {
    color: #6fc4a2!important;
    text-shadow: 0 1px 0 #6fc4a2!important;
    opacity: 10!important;
}

/*-----------------------------------Modal body------------------------------*/

.modal-body {
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1rem;
    background-color: #181a3d;
    color: #6fc4a2;
    box-shadow: 0 4px 8px 0 #39fd9bc9, 0 6px 20px 0 rgb(0 0 0 / 19%)!important;    
}

.form-text {
    color: whitesmoke;
}

.btn-success {
    color: #fff;
    border-radius: 25px!important;
    background-color: #6fc4a2!important;
    border-color: #6fc4a2!important;
}

.btn-success:hover {
    color: #fff;
    background-color: #6fc4a2!important;
    border-color: #6fc4a2!important;
    box-shadow: 0 4px 8px 0 #39fd9bc9, 0 6px 20px 0 rgb(0 0 0 / 19%);
}

/*--------------------------------Google Map---------------------------------*/
#map {
    height: 566px;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 2.25rem!important;
    margin-top: 10px;
}

/*------------------------------------------Form Text-------------------------------*/

.form-text {
    display: block;
    margin-top: 5rem!important;
    margin-bottom: 2.25rem!important;
    color: white;
    padding: 10px;
    padding-bottom: 64px;
    width: 100%;
    border-color: #6fc4a2;
    border-style: groove;
    border-radius: 25px;
    box-shadow: 0 4px 50px 0 #39fd9bc9, 0 6px 20px 0 rgb(0 0 0 / 19%);
}

#message {
    width: 100%;
    border-color: #6fc4a2;
    border-style: solid;
    border-radius: 25px;
    padding: 10px;
}

/*------------------Address Card---------------------------*/

.address-heading {
    color: #6fc4a2;
    margin-top: 3rem;
    margin-bottom: 1rem;
}

address {
    margin-bottom: 2.5rem;
    font-style: normal;
    line-height: inherit;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

#address {
    border-style: groove;
    border-radius: 25px;
    border-color: #6fc4a2;
    box-shadow: 0 4px 50px 0 #39fd9bc9, 0 6px 20px 0 rgb(0 0 0 / 19%);
    color: white;
    background-color: #1e203f;
    text-align: center;
    padding-bottom: 0px;
    margin-bottom: 0rem!important;
    margin-top: 5rem!important;
    text-align: center;
}

.call-heading {
    color: #6fc4a2;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.number {
    color: white;
}

.number:hover {
    color: #1feb99;
    text-decoration: none;
}

div.contact-card {
    text-align: center;
    margin-top: 12%!important;
    vertical-align: middle!important;
}

.call {
    border-style: groove;
    border-color: #6fc4a2;
}

/*------------------------Contact form heading-----------------------*/
.contact-heading {
    color: #6fc4a2!important;
    font-size: 2rem;
    margin: 15px;
    margin-bottom: 2rem;
}

/*-----------------------Form send button------------------------------*/

.contact-btn {
    margin-top: 1rem;
    text-align: center;
}

.form-send {
    width: 70%;
    color: #fff;
    border-radius: 25px!important;
    background-color: #6fc4a2!important;
    border-color: #6fc4a2!important;
}

.form-send:hover {
    color: #fff;
    background-color: #6fc4a2!important;
    border-color: #6fc4a2!important;
    box-shadow: 0 4px 8px 0 #39fd9bc9, 0 6px 20px 0 rgb(0 0 0 / 19%);
}

/*--------------------Both input fields -> name and email ---------------------*/
.name-field {
    width: 100%;
}

legend {
    display: block;
    width: 100%;
    max-width: 100%;
    padding: 0;
    margin-bottom: .5rem;
    font-size: 1.5rem;
    line-height: inherit;
    color: inherit;
    white-space: normal;
}

/*--------Form Appointment Heading-------------------------*/
.form-appointment {
    padding: 15px;
    margin-top: 1rem;
    color: #6fc4a2;
}

/*------------Div containing appointment content-----------*/
.app-div {
    width: 100%;
} 

/*----------------H5 appointment question-----------------*/
.app-question {
    color: #6fc4a2;
    padding-left: 15px;
    margin-top: -25px;
}

/*----------------appointment paragraph---------------------*/
.app-para {
    padding-left: 15px;
    margin-bottom: 3rem;
}

/*--------------------Click here a --------------------*/
.app-redirect {
    color: #6fc4a2;
}

/*---------------------Click here when hovered over-------------------*/
.app-redirect:hover {
    color: #1feb99;
    text-decoration: none;
}


/*---------------------------Contact Us Modal------------------------------*/

.form-group {
    padding: 1rem;
}

.modal-title-contact {
    margin: auto;
    letter-spacing: 1px;
}

.modal-content-contact {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    color: #49cc85!important;
    background-color: white;
    box-shadow: -2px 2px 30px 6px #39fd9bc9, 0 6px 20px 0px rgb(0 0 0 / 19%);
    border-style: solid;
    border-radius: 1.3rem!important;
    border-color: #6fc4a2;
    outline: 0;
}

.app-gif {
    margin-top: 2rem;
    margin-bottom: -3rem;
    text-align: center;
}

a {
    color: white!important;
    text-decoration: none;
    background-color: transparent;
}

a:hover {
    color: white!important;
    text-decoration: none!important;
    background-color: transparent;
}

.modal-btn-center {
   text-align: center;
}

button.btn.btn-success {
    width: 70%;
    margin-top: 3rem;
    margin-bottom: 2rem;
    color: #fff!important;
    background-color: #49cc85!important;
    border-color: #49cc85;
}


/*---------------------Footer Section---------------------------------------*/
footer {
    background-color: #1e203f;
    border: solid #6fc4a2;
    margin-top: 80px;    
    width: 100%;
}

.social-networks{
  text-align: center;
}

.social-networks li{
  display:inline;
  padding-right: 30px;
}

.social-networks i {
    margin: 1%;
    padding-top: 20px;
    font-size: 28px;
    color: white;
}

.social-networks i:hover {
    margin: 1%;
    padding-top: 20px;
    font-size: 28px;
    color: #6fc4a2;
    transform: scale(1.5);
}

/*--------------------Media Query-----------------*/

@media only screen
    and (min-width: 1024px)
    and (max-height: 1366px)
    and (-webkit-min-device-pixel-ratio: 1.5) {
        #map {
            height: 613px;
            margin-left: 1rem;
            margin-right: 1rem;
            margin-bottom: 2.25rem!important;
            margin-top: 10px;
        }
    }