html body {
    font-family: 'Bree Serif', serif;
    background-color: #181a3d;
}

/*---------------------Navbar Section---------------------------------------*/
#navbar-color {
    background-color: #1e203f!important;
    border: solid #6fc4a2;
}

.nav-link {
    display: block;
    padding: .25rem 1.5rem!important;
    white-space: nowrap;
}

.nav-link-color {
    color: white!important;
}

.nav-link-color:hover {
    color: #6fc4a2!important;
}

.navbar-light .navbar-toggler {
    color: #f8f9fa;
    border-color: rgb(111 196 162);
    background-color: rgb(111 196 162);
}

.nav-img {
    border: groove #6fc4a2;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 #39fd9bc9, 0 6px 20px 0 rgb(0 0 0 / 19%);
}

.sign-btn {
    border: groove #6fc4a2;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 #39fd9bc9, 0 6px 20px 0 rgb(0 0 0 / 19%);
    background-color: #1e203f;
    color: white;
    margin-bottom: 10px;
    margin-top: 10px;
}

.sign-btn:hover {
    color: #6fc4a2;
}

p.nav-link-color {
    margin-top: 0px;
    margin-bottom: 3px;
    padding-bottom: 2px;
}


/*------------------Three columns of text below--------------------*/
.h2-fisio {
    color: #6fc4a2;
    margin-top: 55px;
}

p {
    color: white;
}

.featurette-divider {
    background-color: #6fc4a2;
    margin: 30px 0px 30px 0px;
    height: 1.5px;
    transition: .8s;
}

.featurette-divider:hover {
    box-shadow: -2px 2px 30px 6px #39fd9bc9, 0 6px 20px 0px rgb(0 0 0 / 19%);
}

.featurette-heading {
    color: #6fc4a2;
    margin-top: 15px;
}

.featurette-image:hover {
    box-shadow: -2px 2px 30px 6px #39fd9bc9, 0 6px 20px 0px rgb(0 0 0 / 19%);
    transition: .8s;
}




/*------------------------Footer----------------------------*/
footer {
    background-color: #1e203f;
    border: solid #6fc4a2;
}


.social-networks{
  text-align: center;
  
}

.social-networks li{
  display:inline;
  padding-right: 30px;
}

.social-networks i {
    margin: 1%;
    padding-top: 20px;
    font-size: 28px;
    color: white;
    
}

.social-networks i:hover {
    margin: 1%;
    padding-top: 20px;
    font-size: 28px;
    color: #6fc4a2;
    transform: scale(1.5);
    
}

.rounded-circle {
    box-shadow: -2px 2px 30px 6px #39fd9bc9, 0 6px 20px 0px rgb(0 0 0 / 19%);
    margin-top: 50px;
}

.fisio-btn {
    border: groove #6fc4a2;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 #39fd9bc9, 0 6px 20px 0 rgb(0 0 0 / 19%);
    background-color: #1e203f;
    color: white;
    margin-bottom: 10px;
    margin-top: 10px;
}

/*---------------------Navbar Dropdown Menu-----------------------------------*/
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #1e203f!important;
    background-clip: padding-box;
    border: 1px groove #6fc4a2!important;
    border-radius: .25rem;
}

.dropdown-item:focus, .dropdown-item:hover {
    color: #6fc4a2!important;
    text-decoration: none;
    background-color: #1e203f!important;
}

.h-benefits {
    margin-top: 1rem;
    color: #6fc4a2;   
}

.ben-list {
    color: white;
    height: max-content;
    width: max-content;
}

.benefits {
    margin-bottom: 5rem;
    margin-top: -2rem;
}

/*-------------------Media Queries----------------*/

@media only screen 
  and (min-width: 1024px) 
  and (max-height: 1366px) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
    .h-benefits {
        margin-top: 3rem;
        color: #6fc4a2;
        font-size: 1.25rem;
    }
}

/* Ipad */
@media only screen
    and (min-width:768px)
    and (max-height:1024px)
    and (-webkit-min-device-pixel-ratio: 1.5) {
        .h-benefits {
            margin-top: 3rem;
            color: #6fc4a2;
            font-size: 1.25rem;
        }
    }


    /* fold S5 */
@media only screen
and (min-width: 280px)
and (max-height: 653px)
and (-webkit-min-device-pixel-ratio: 1.5) {
    .ben-list {
        color: white;
        width: fit-content;
        margin-top: 1.5rem;
        margin-bottom: -1rem;
    }
}

    