html body {
    font-family: 'Bree Serif', sans-serif;
    background-color: #181a3d;
}

/*---------------------Navbar Section---------------------------------------*/
#navbar-color {
    background-color: #1e203f!important;
    border: solid #f6e27a;
    box-shadow: 0 0px 10px 0 #f6e27a, 0 6px 20px 0 rgb(0 0 0 / 19%);
}

.navbar-light .navbar-toggler {
    color: #f8f9fa;
    border-color: #f6e27a!important;
    background-color: #f6e27a!important;
}

.nav-link {
    display: block;
    padding: .25rem 1.5rem!important;
    white-space: nowrap;
}

.nav-link-color {
    color: white!important;
}

.nav-link-color:hover {
    color: #f6e27a!important;
}

.navbar-light .navbar-toggler {
    color: #f8f9fa;
    border-color: rgb(111 196 162);
    background-color: rgb(111 196 162);
}

.nav-img {
    border: groove #f6e27a;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 #f6e27a, 0 6px 20px 0 rgb(0 0 0 / 19%);
}

#bf-logo {
    background-color: #181a3d;
    text-align: center!important;
    box-shadow: 0 4px 8px 0 #f6e27a, 0 6px 20px 0 rgb(0 0 0 / 19%);
    height: 250px;
    width: 250px;
    padding: 40px;
}

p.nav-link-color {
    margin-top: 0px;
    margin-bottom: 3px;
    padding-bottom: 2px;
}

/*---------------------Navbar Dropdown Menu-----------------------------------*/
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #1e203f!important;
    background-clip: padding-box;
    border: 1px groove #f6e27a!important;
    border-radius: .25rem;
}

.dropdown-item:focus, .dropdown-item:hover {
    color: #f6e27a!important;
    text-decoration: none;
    background-color: #1e203f!important;
}

.jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 5rem!important;
    background-color: transparent!important;
    border-radius: .3rem;
}

h3 {
    font-family: 'Times New Roman', serif;
    letter-spacing: 5px;
    font-weight: bold;
    text-transform: uppercase;
    background-image: linear-gradient(
     to right,
     #462523 0,
     #cb9b51 22%, 
     #f6e27a 45%,
     #f6f2c0 50%,
     #f6e27a 55%,
     #cb9b51 78%,
     #462523 100%
     );
    color:transparent;
    -webkit-background-clip:text;
}

.btn-space {
    margin-right: 50px;
    margin-left: 50px;
}

div.bg-light {
    background-color: transparent!important;
}

.member-divider {
    background-color: #f6e27a;
    box-shadow: 0 0px 10px 0 #f6e27a, 0 6px 20px 0 rgb(0 0 0 / 19%);
    margin: 30px 0px 30px 0px;
    height: 2.5px;
    transition: .8s;
}

.h1-mem {
    font-family: 'Times New Roman', serif;
    text-transform: uppercase;
    background-image: linear-gradient(
     to right,
     #462523 0,
     #cb9b51 22%, 
     #f6e27a 45%,
     #f6f2c0 50%,
     #f6e27a 55%,
     #cb9b51 78%,
     #462523 100%
     );
    color:transparent;
    -webkit-background-clip:text;
}


p {
    text-align: center;
    background-image: linear-gradient(
     to right,
     #462523 0,
     #cb9b51 22%, 
     #f6e27a 45%,
     #f6f2c0 50%,
     #f6e27a 55%,
     #cb9b51 78%,
     #462523 100%
     );
    color:transparent;
    -webkit-background-clip:text;
 }
 
/*-----------------------------Card body --------------------------*/ 
.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
    background-color: #1e203f;
}

/*--------------------Cards-----------------------------------*/
.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #1e203f!important;
    background-clip:border-box;
    border: 2px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    box-shadow: 0 0px 8px 0 #f6e27a, 0 6px 20px 0 rgb(0 0 0 / 19%);
    cursor: pointer;
}

s {
    color: red;
}

/*--------------Dropdown paragraph after click----------------------*/
.hide {
    padding: 10px;
    text-align: left;
    display: none;
    margin-top: 2rem;
    margin-bottom: 0rem;
    border-style: groove;
    border-color: #f6e27a;
    box-shadow: 0 0px 8px 0 #f6e27a, 0 6px 20px 0 rgb(0 0 0 / 19%);
    background-image: linear-gradient(
     to right,
     #f6e27a 0,
     #e9b15d 22%, 
     #f6e27a 45%,
     #f6f2c0 50%,
     #f6e27a 55%,
     #f1b863 78%,
     #92524f 100%
     );
    color:transparent;
    -webkit-background-clip:text;
}

/*----------Buttons-----------------*/
.mem-btn {
    background-image: linear-gradient(
     to right,
     #f6e27a 0,
     #e9b15d 22%, 
     #f6e27a 45%,
     #f6f2c0 50%,
     #f6e27a 55%,
     #f1b863 78%,
     #92524f 100%
     );
    color:transparent;
    -webkit-background-clip:text;
    background-color: #1e203f!important;
    border-style: groove;
    border-color: gold;
    border-radius: 10px;
    box-shadow: 0 0px 8px 0 #f6e27a, 0 6px 20px 0 rgb(0 0 0 / 19%);
    text-transform: uppercase;
}

/*------------------------------Button up---------------------*/
#upBtn {
    z-index: 99;
    border: none;
    outline: none;
    background-color: transparent;
    color: #f6e27a;
    cursor: pointer;
    padding: 15px;
    border-radius: 25px;
    font-size: 18px;
    margin-top: -40px;
    margin-bottom: 25px;
    margin-left: 49%;
}

.fa-arrow-up:before {
    content: "\f062";
    font-size: 33px;
}


#upBtn:hover {
  background-color: #1e203f;
  box-shadow: 0 4px 8px 0 #f6e27a, 0 6px 20px 0 rgb(0 0 0 / 19%);
}

span {
    top: 50%;
    left: 50%;
    font-family: 'Times New Roman',serif;
    letter-spacing: 5px;
    font-weight: bold;
    background-image: linear-gradient(
     to right,
     #9c4c48 0,
     #e9b15d 22%, 
     #f6e27a 45%,
     #f6f2c0 50%,
     #f6e27a 55%,
     #f1b863 78%,
     #92524f 100%
     );
    color:transparent;
    -webkit-background-clip:text;
 }
  
/*---------------------Footer Section---------------------------------------*/

footer {
    background-color: #1e203f;
    border: solid #f6e27a;
}

.social-networks{
  text-align: center;
}

.social-networks li{
  display:inline;
  padding-right: 30px;
}

.social-networks i {
    margin: 1%;
    padding-top: 20px;
    font-size: 28px;
    color: white;
}

.social-networks i:hover {
    margin: 1%;
    padding-top: 20px;
    font-size: 28px;
    color: #f6e27a;
    transform: scale(1.5);
}

.bf-brand {
    border: groove #f6e27a;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 #f6e27a, 0 6px 20px 0 rgb(0 0 0 / 19%);
}


/*---------------------------------------------Modal-----------------------------------------------------*/

/*-----------------------------------Modal Header------------------------------*/
.modal-header {
    background-color: #181a3d;
    color: #6fc4a2;
    box-shadow: 0 6px 20px 0 #39fd9bc9, 0 6px 20px 0 rgb(0 0 0 / 19%)!important;
}

.modal-title {
    text-align: center!important;
}

.close {
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: white!important;
    text-shadow: 0 1px 0 #fff;
}

.close:hover {
    color: #6fc4a2!important;
    text-shadow: 0 1px 0 #6fc4a2!important;
}

.asterisk {
    color: red;
}

/*-----------------------------------Modal body------------------------------*/

.modal-body {
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1rem;
    background-color: #181a3d;
    color: #6fc4a2;
    box-shadow: 0 4px 8px 0 #39fd9bc9, 0 6px 20px 0 rgb(0 0 0 / 19%)!important;    
}

.form-text {
    color: #6fc4a2;
}

.btn-success {
    color: #fff;
    border-radius: 25px!important;
    background-color: #6fc4a2!important;
    border-color: #6fc4a2!important;
}

.btn-success:hover {
    color: #fff;
    background-color: #6fc4a2!important;
    border-color: #6fc4a2!important;
    box-shadow: 0 4px 8px 0 #39fd9bc9, 0 6px 20px 0 rgb(0 0 0 / 19%);
}

/*---------------Show & Hide Displays of JS functions---------*/

.hide {display:none;}

.show {display:block;}

/*---------------------------------iframe border for YouTube videos-----------------------------*/
iframe {
    border-width: 0px;
}