body {
    font-family: 'Oswald', serif;
    font-size: 15px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    background-color: #1d203f;
}

/* All container styling */
.container {
    width: 80%;
    margin: auto;
    /* If something goes outside of I don't want a scrollbar, doing this will hide the content */
    overflow: hidden;
}

ul {
       /* By default <ul> have padding, so here I will set both margin and padding to 0 */
       margin: 0;
       padding: 0;
   }

/* Header styling */
header {
    background: #1d203f;
    color: white;
    border: solid #70c5a3;    
    padding-top: 15px;
    /* Setting min-height when it's responsive and the screen is smaller, the menu goes to the next line I want the height to adjust. */
    min-height: 70px;
   }

   header a {
        color: white;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 16px;
   }

   
   header li {
       float: left;
       display: inline;
       padding-right: 20px;
       
   }

  .bf-logo {
        float: left;
        margin-bottom: 20px;
  }

   header nav {
       float: right;
       margin-top: 25px;

   }

   /* Hover styling */
   header a:hover {
       color: #70c5a3;
   }

   header .current a {
       color: #70c5a3;
   }

   /* Banner */
   #banner {
       /* To be flexible and responsive */
       min-height: 350px;
       color: white;
       background-color: #1d203f;
       text-align: center;
                    
    }

    #banner h1 {
        margin-top: 60px;
        margin-bottom: 50px;
        font-size: 55px;
    }

    #banner p {
        font-size: 20px;
    }

    .banner-h1:hover {
        color: #70c5a3;
        cursor: pointer;
    }
    
    .banner-p:hover {
        color: #70c5a3;
        cursor: pointer;
    }

    /* Boxes */

    #boxes {
        margin-top: 20px;
    }

    #boxes .box {
        float: left;
        text-align: center;
        /* Responsive */
        width: 30%;
        padding: 15px;
    }

    .fa-gem {
        color: white;
    }

    .fa-calendar-alt {
        color: white;
    }

    .fa-star {
        color: white;
    }
    
    hr {
        border-color: #70c5a3;
        width: 80%;
    }

    .mem-area {
        color: white;
    }

    .app-area {
        color: white;
    }

    .test-area {
        color: white;
    }

    footer {
        padding: 20px;
        margin-top: 20px;
        border: solid #70c5a3;
    }