

/*---------------------Navbar Section---------------------------------------*/
#navbar-color {
    background-color: #1e203f!important;
    border: solid #6fc4a2;
}

.nav-link-color {
    color: white!important;
}

.navbar-light .navbar-toggler {
    color: #f8f9fa;
    border-color: rgb(111 196 162);
    background-color: rgb(111 196 162);
}

/*---------------------Navbar Dropdown Menu-----------------------------------*/
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #1e203f!important;
    background-clip: padding-box;
    border: 1px groove #6fc4a2!important;
    border-radius: .25rem;
}

.dropdown-item:focus, .dropdown-item:hover {
    color: #6fc4a2!important;
    text-decoration: none;
    background-color: #1e203f!important;
}

/*---------------------Footer Section---------------------------------------*/
footer {
    background-color: #1e203f;
    border: solid #6fc4a2;
}

.social-networks{
  text-align: center;
  
}

.social-networks li{
  display:inline;
  padding-right: 30px;
  
}

.social-networks i {
    margin: 1%;
    padding-top: 20px;
    font-size: 28px;
    color: white;
    
}

.social-networks i:hover {
    margin: 1%;
    padding-top: 20px;
    font-size: 28px;
    color: #6fc4a2;
    transform: scale(1.5);
    
}

#bf-logo {
    background-color: #1e203f;
    text-align: center!important;
    box-shadow: 0 4px 8px 0 #39fd9bc9, 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
}